// Thanks to VCL Form Converter, by Luigi Bianchi
// All x/width coordinates were multiplied by (300/350) to match the original horizontally

#include <windows.h>
#include "addgame.res.h"

IDC_TFORMADDGAME DIALOGEX 125, 97, 239, 112
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_CAPTION | WS_DLGFRAME | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS
CAPTION "FormAddGame"
FONT 8, "Verdana", 400, 0
{
 CONTROL "Select Game", IDC_GROUPBOX1, "button", WS_CHILD | BS_GROUPBOX | WS_GROUP | WS_VISIBLE | WS_TABSTOP, 0 , 0, 239 , 40, 0x00
 CONTROL "Specify Attributes", IDC_GROUPBOX2, "button", WS_CHILD | BS_GROUPBOX | WS_GROUP | WS_VISIBLE | WS_TABSTOP, 0 , 40, 239 , 57, 0x00
 CONTROL "", IDC_PANEL5, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 97, 239 , 15, 0x00
 CONTROL "Path:", IDC_LABEL1, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 8 , 26, 18 , 7, 0x00
 CONTROL "Name:", IDC_LABEL2, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 4 , 52, 22 , 7, 0x00
 CONTROL "ID:", IDC_LABEL3, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 4 , 66, 10 , 7, 0x00
 CONTROL "Version:", IDC_LABEL4, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 4 , 81, 29 , 7, 0x00
 CONTROL "(version 3 only)", IDC_LABEL5, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 62 , 66, 50 , 7, 0x00
 CONTROL "", IDC_DROPGAMES, "combobox", WS_CHILD | WS_VSCROLL | CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VISIBLE, 4 , 9, 230 , 76, 0x00
 CONTROL "", IDC_DROPVERSION, "combobox", WS_CHILD | WS_VSCROLL | CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VISIBLE, 36 , 79, 139 , 76, 0x00
 CONTROL "", IDC_PANEL11, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 157 , 97, 80 , 15, 0x00
 CONTROL "", IDC_TBPATH, "edit", WS_CHILD | WS_VISIBLE | ES_READONLY | ES_NOHIDESEL, 36 , 24, 198 , 12, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_TBNAME, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 36 , 49, 198 , 12, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_TBID, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL | ES_OEMCONVERT, 36 , 64, 22 , 12, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Auto Detect", IDC_BTNAUTODETECT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 175 , 77, 59 , 15, 0x00
 CONTROL "OK", IDC_BTNOK, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 198 , 97, 40 , 15, 0x00
 CONTROL "Cancel", IDC_BTNCANCEL, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 157 , 97, 40 , 15, 0x00
}
