// Thanks to VCL Form Converter, by Luigi Bianchi
// All x/width coordinates were multiplied by (300/350) to match the original horizontally

#include <windows.h>
#include "main.res.h"

IDC_TFORMMAIN DIALOGEX 126, 70, 301, 208
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_DLGFRAME | DS_MODALFRAME | DS_CENTER | DS_3DLOOK | DS_FIXEDSYS
CAPTION "GBAGI Injection Utility"
FONT 8, "Verdana", 400, 0
{
 CONTROL "GBAGI Injection Utility 2.0", IDC_LABEL1, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 0, 301 , 10, 0x00
 CONTROL "By Brian Provinciano", IDC_LABEL2, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 10, 301 , 10, 0x00
 CONTROL "http://www.bripro.com", IDC_LABEL3, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 20, 301 , 10, 0x00
 CONTROL "", IDC_PANEL1, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 28, 301 , 2, 0x00
 CONTROL "", IDC_PANEL2, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 31, 301 , 25, 0x00
 CONTROL "", IDC_PANEL3, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 56, 301 , 2, 0x00
 CONTROL "", IDC_PANEL4, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 58, 301 , 12, 0x00
 CONTROL "", IDC_LISTBOX, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 0 , 87, 301 , 106, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_PANEL8, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 74, 301 , 13, 0x00
 CONTROL "", IDC_PANEL9, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 71, 301 , 2, 0x00
 CONTROL "", IDC_FORMMAIN, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 193, 301 , 15, 0x00
 CONTROL " ROM Output Filename:", IDC_LABEL4, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 58, 85 , 12, 0x00
 CONTROL " Games To Inject", IDC_LABEL7, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 74, 193, 13, 0x00
 CONTROL "", IDC_TXSTATUS, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 193, 192 , 15, 0x00
 CONTROL "", IDC_PANEL6, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 31, 301 , 12, 0x00
 CONTROL "", IDC_TBOUTPUT, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL, 85 , 58, 171 , 12, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_PANEL10, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 194 , 74, 107 , 13, 0x00
 CONTROL "", IDC_PANEL11, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 192 , 193, 108 , 15, 0x00
 CONTROL "", IDC_PANEL7, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 43, 301 , 12, 0x00
 CONTROL "", IDC_PANEL14, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 261 , 58, 40 , 12, 0x00
 CONTROL " ROM Input Filename:", IDC_LABEL6, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 31, 85 , 12, 0x00
 CONTROL " Vocab Filename:", IDC_LABEL5, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 43, 85 , 12, 0x00
 CONTROL "", IDC_TBINPUT, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL, 85 , 31, 171 , 12, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_TBVOCAB, "edit", WS_CHILD | WS_VISIBLE | ES_NOHIDESEL, 85 , 43, 171 , 12, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Browse...", IDC_BTNBROWSEOUT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 261 , 58, 40 , 12, 0x00
 CONTROL "Add Game", IDC_BTNADD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 248 , 74, 52 , 13, 0x00
 CONTROL "Exit", IDC_BTNEXIT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 261 , 193, 40 , 15, 0x00
 CONTROL "", IDC_PANEL12, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 261 , 31, 40 , 12, 0x00
 CONTROL "", IDC_PANEL13, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 261 , 43, 40 , 12, 0x00
 CONTROL "Remove Game", IDC_BTNREMOVE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 194 , 74, 54 , 13, 0x00
 CONTROL "Build ROM", IDC_BTNBUILD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 192 , 193, 67 , 15, 0x00
 CONTROL "Browse...", IDC_BTNBROWSEINP, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 261 , 31, 40 , 12, 0x00
 CONTROL "Browse...", IDC_BTNBROWSEVOC, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 261 , 43, 40 , 12, 0x00
}
