// Thanks to VCL Form Converter, by Luigi Bianchi
// All x/width coordinates were multiplied by (300/350) to match the original horizontally

#include <windows.h>
#include "main.res.h"

IDC_TFORMMAIN DIALOGEX 126, 70, 306, 210
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | DS_MODALFRAME | DS_CENTER | DS_3DLOOK | DS_FIXEDSYS
CAPTION "GBAGI Injection Utility"
FONT 8, "Verdana", 400, 0
{
 CONTROL "GBAGI Injection Utility 2.0", IDC_LABEL1, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 0, 306 , 11, 0x00
 CONTROL "By Brian Provinciano", IDC_LABEL2, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 11, 306 , 10, 0x00
 CONTROL "https://github.com/Davidebyzero/GBAGI", IDC_LABEL3, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 21, 306 , 10, 0x00
 CONTROL "", IDC_PANEL1, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 29, 306 , 2, 0x00
 CONTROL "", IDC_PANEL2, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 32, 306 , 25, 0x00
 CONTROL "", IDC_PANEL3, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 57, 306 , 2, 0x00
 CONTROL "", IDC_PANEL4, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 59, 306 , 12, 0x00
 CONTROL "", IDC_LISTBOX, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 0 , 89, 306 , 106, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_PANEL8, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 75, 306 , 13, 0x00
 CONTROL "", IDC_PANEL9, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 72, 306 , 2, 0x00
 CONTROL "", IDC_FORMMAIN, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 195, 306 , 15, 0x00
 CONTROL " ROM Output Filename:", IDC_LABEL4, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 62, 85 , 12, 0x00
 CONTROL " Games To Inject", IDC_LABEL7, "static", WS_CHILD | SS_NOTIFY | SS_CENTERIMAGE | SS_LEFT | WS_VISIBLE, 0 , 75, 198, 14, 0x00
 CONTROL "", IDC_TXSTATUS, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 0 , 195, 196 , 15, 0x00
 CONTROL "", IDC_PANEL6, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 32, 306 , 12, 0x00
 CONTROL "", IDC_TBOUTPUT, "edit", WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL | ES_NOHIDESEL, 87 , 59, 178 , 13, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_PANEL10, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 194 , 75, 107 , 13, 0x00
 CONTROL "", IDC_PANEL11, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 196 , 195, 108 , 15, 0x00
 CONTROL "", IDC_PANEL7, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0 , 44, 306 , 12, 0x00
 CONTROL "", IDC_PANEL14, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 261 , 59, 40 , 12, 0x00
 CONTROL " ROM Input Filename:", IDC_LABEL6, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 34, 85 , 12, 0x00
 CONTROL " Vocab Filename:", IDC_LABEL5, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 0 , 47, 85 , 12, 0x00
 CONTROL "", IDC_TBINPUT, "edit", WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL | ES_NOHIDESEL, 87 , 31, 178 , 13, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_TBVOCAB, "edit", WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL | ES_NOHIDESEL, 87 , 44, 178 , 13, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Browse...", IDC_BTNBROWSEOUT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 265 , 59, 41 , 13, 0x00
 CONTROL "Add Game", IDC_BTNADD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 253 , 75, 53 , 14, 0x00
 CONTROL "Exit", IDC_BTNEXIT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 265 , 195, 41 , 15, 0x00
 CONTROL "", IDC_PANEL12, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 261 , 32, 40 , 12, 0x00
 CONTROL "", IDC_PANEL13, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 261 , 44, 40 , 12, 0x00
 CONTROL "Remove Game", IDC_BTNREMOVE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 199 , 75, 54 , 14, 0x00
 CONTROL "Build ROM", IDC_BTNBUILD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 196 , 195, 68 , 15, 0x00
 CONTROL "Browse...", IDC_BTNBROWSEINP, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 265 , 31, 41 , 13, 0x00
 CONTROL "Browse...", IDC_BTNBROWSEVOC, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 265 , 44, 41 , 13, 0x00
}
