// Thanks to VCL Form Converter, by Luigi Bianchi
// All x/width coordinates were multiplied by (300/350) to match the original horizontally

#include <windows.h>
#include "main.res.h"

IDC_TFORMMAIN DIALOGEX 126, 70, 428, 286
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | DS_MODALFRAME | DS_CENTER | DS_3DLOOK | DS_FIXEDSYS
CAPTION "GBAGI ROM Injector"
FONT 9, "Segoe UI", 400, 0
{
 CONTROL "GBAGI ROM Injector 2.40", IDC_LABEL1, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 10 , 8, 408 , 18, 0x00
 CONTROL "Package Sierra AGI games with vocabulary editing and hardware-safe output", IDC_LABEL2, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 10 , 26, 408 , 12, 0x00
 CONTROL "https://github.com/VisionaiR3D/GBAGI", IDC_LABEL3, "static", WS_CHILD | SS_NOTIFY | SS_CENTER | WS_VISIBLE, 10 , 40, 408 , 12, 0x00
 CONTROL "", IDC_PANEL1, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 58, 408 , 2, 0x00
 CONTROL "", IDC_PANEL2, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 64, 408 , 30, 0x00
 CONTROL "", IDC_PANEL3, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 98, 408 , 2, 0x00
 CONTROL "", IDC_PANEL4, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 102, 408 , 18, 0x00
 CONTROL "", IDC_LISTBOX, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_HSCROLL | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 10 , 128, 408 , 116, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_PANEL8, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 108, 408 , 18, 0x00
 CONTROL "", IDC_PANEL9, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 104, 408 , 2, 0x00
 CONTROL "", IDC_FORMMAIN, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 252, 408 , 24, 0x00
 CONTROL "Output ROM", IDC_LABEL4, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 12 , 93, 90 , 12, 0x00
 CONTROL "Games In Build Queue", IDC_LABEL7, "static", WS_CHILD | SS_NOTIFY | SS_CENTERIMAGE | SS_LEFT | WS_VISIBLE, 10 , 108, 180, 18, 0x00
 CONTROL "", IDC_TXSTATUS, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 10 , 252, 210 , 24, 0x00
 CONTROL "", IDC_PANEL6, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 64, 408 , 18, 0x00
 CONTROL "", IDC_TBOUTPUT, "edit", WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL | ES_NOHIDESEL, 104 , 90, 240 , 18, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_PANEL10, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 228 , 108, 190 , 18, 0x00
 CONTROL "", IDC_PANEL11, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 226 , 252, 192 , 24, 0x00
 CONTROL "", IDC_PANEL7, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 10 , 82, 408 , 18, 0x00
 CONTROL "", IDC_PANEL14, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 350 , 90, 68 , 18, 0x00
 CONTROL "Runtime Binary", IDC_LABEL6, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 12 , 61, 90 , 12, 0x00
 CONTROL "Vocabulary Data", IDC_LABEL5, "static", WS_CHILD | SS_NOTIFY | SS_LEFT | WS_VISIBLE, 12 , 77, 90 , 12, 0x00
 CONTROL "", IDC_TBINPUT, "edit", WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL | ES_NOHIDESEL, 104 , 58, 240 , 18, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_TBVOCAB, "edit", WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL | ES_NOHIDESEL, 104 , 74, 240 , 18, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Browse...", IDC_BTNBROWSEOUT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 350 , 90, 68 , 18, 0x00
 CONTROL "Add Game", IDC_BTNADD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 346 , 108, 72 , 18, 0x00
 CONTROL "Exit", IDC_BTNEXIT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 370 , 252, 48 , 24, 0x00
 CONTROL "", IDC_PANEL12, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 350 , 58, 68 , 18, 0x00
 CONTROL "", IDC_PANEL13, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 350 , 74, 68 , 18, 0x00
 CONTROL "Remove", IDC_BTNREMOVE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 194 , 108, 72 , 18, 0x00
 CONTROL "Vocabulary...", IDC_BTNWORDS, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 270 , 108, 72 , 18, 0x00
CONTROL "Walkthrough Analyzer", IDC_BTNWALKTEST, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 178 , 252, 112 , 24, 0x00
 CONTROL "Build ROM", IDC_BTNBUILD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 294 , 252, 72 , 24, 0x00
 CONTROL "Browse...", IDC_BTNBROWSEINP, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 350 , 58, 68 , 18, 0x00
 CONTROL "Browse...", IDC_BTNBROWSEVOC, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 350 , 74, 68 , 18, 0x00
}

IDC_TFORMWALKCHECK DIALOGEX 40, 30, 430, 276
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_THICKFRAME | DS_MODALFRAME | DS_CENTER | DS_3DLOOK | DS_FIXEDSYS
CAPTION "GBAGI Walkthrough Checker"
FONT 8, "Verdana", 400, 0
{
 CONTROL "Game", IDC_WALK_LBLGAME, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 6, 6, 418, 10, 0x00
 CONTROL "", IDC_WALK_LBLSUMMARY, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 6, 18, 418, 10, 0x00
 CONTROL "Walkthrough", IDC_WALK_LBLWORDS, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 6, 32, 120, 10, 0x00
 CONTROL "", IDC_WALK_EDITTEXT, "edit", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN, 6, 44, 176, 188, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Walkthrough Words", IDC_WALK_LBLPHRASES, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 188, 32, 112, 10, 0x00
 CONTROL "", IDC_WALK_LISTWORDS, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 188, 44, 112, 188, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "GBAGI Safe / Phrases", IDC_WALK_LBLSAFE, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 306, 32, 118, 10, 0x00
 CONTROL "", IDC_WALK_LISTPHRASES, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 306, 44, 118, 86, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_WALK_EDITSAFE, "edit", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN | ES_READONLY, 306, 136, 118, 96, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Load...", IDC_WALK_BTNLOAD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 6, 238, 40, 14, 0x00
 CONTROL "Analyze", IDC_WALK_BTNANALYZE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 50, 238, 44, 14, 0x00
 CONTROL "Save Safe...", IDC_WALK_BTNSAVESAFE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 306, 238, 52, 14, 0x00
 CONTROL "Save Report...", IDC_WALK_BTNSAVEREPORT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 360, 238, 64, 14, 0x00
 CONTROL "Close", IDC_WALK_BTNCLOSE, "button", WS_CHILD | BS_DEFPUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 384, 256, 40, 14, 0x00
}
