#include <windows.h>
#include "vocabedit.res.h"

IDC_TFORMVOCABEDIT DIALOGEX 80, 60, 476, 548
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_CENTER | DS_3DLOOK | DS_FIXEDSYS
CAPTION "Per-Game Vocabulary Editor"
FONT 9, "Segoe UI", 400, 0
{
 CONTROL "Game", IDC_LABELGAME, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 10, 10, 456, 14, 0x00
 CONTROL "Legend: [U/A] used+auto, [K]/[R] keep/remove, [L]/[R] effective column, [CL]/[CR] explicit override.", IDC_LABELHELP, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 10, 28, 456, 24, 0x00
 CONTROL "Preview Picker", IDC_GROUPPREVIEW, "button", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, 10, 58, 456, 120, 0x00
 CONTROL "", IDC_LISTPREVIEWLEFT, "listbox", WS_CHILD | LBS_HASSTRINGS | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 18, 76, 190, 84, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_LISTPREVIEWRIGHT, "listbox", WS_CHILD | LBS_HASSTRINGS | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 216, 76, 182, 84, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "More >", IDC_BTNPREVIEWTOGGLE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 404, 92, 34, 52, 0x00
 CONTROL "Word Groups", IDC_GROUPGROUPS, "button", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, 10, 186, 146, 248, 0x00
 CONTROL "Words In Selected Group", IDC_GROUPWORDS, "button", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, 164, 186, 302, 248, 0x00
 CONTROL "", IDC_LISTGROUPS, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 18, 204, 130, 222, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDITSEARCH, "edit", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 174, 206, 282, 18, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_LISTWORDS, "listbox", WS_CHILD | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOINTEGRALHEIGHT, 174, 230, 282, 126, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "", IDC_EDITALIAS, "edit", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 174, 364, 194, 18, 0x00 | WS_EX_CLIENTEDGE
 CONTROL "Add Alias", IDC_BTNADDALIAS, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 374, 364, 82, 18, 0x00
 CONTROL "Keep", IDC_BTNKEEP, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 174, 390, 52, 20, 0x00
 CONTROL "Remove", IDC_BTNREMOVEWORD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 232, 390, 58, 20, 0x00
 CONTROL "Hide", IDC_BTNHIDE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 296, 390, 48, 20, 0x00
 CONTROL "Clear Word", IDC_BTNCLEARWORD, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 350, 390, 50, 20, 0x00
 CONTROL "Clear Group", IDC_BTNCLEARGROUP, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 406, 390, 50, 20, 0x00
 CONTROL "Column Left", IDC_BTNCOLLEFT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 174, 416, 84, 20, 0x00
 CONTROL "Column Right", IDC_BTNCOLRIGHT, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 264, 416, 88, 20, 0x00
 CONTROL "Column Auto", IDC_BTNCOLAUTO, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 358, 416, 98, 20, 0x00
 CONTROL "Show Auto", IDC_BTNSHOWAUTO, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 174, 442, 84, 20, 0x00
 CONTROL "Show Normal", IDC_BTNSHOWNORMAL, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 264, 442, 92, 20, 0x00
 CONTROL "Show More", IDC_BTNSHOWMORE, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 362, 442, 94, 20, 0x00
 CONTROL "", IDC_LABELSTATUS, "static", WS_CHILD | SS_LEFT | WS_VISIBLE, 10, 468, 456, 14, 0x00
 CONTROL "Load...", IDC_BTNLOADVOCAB, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 10, 486, 70, 24, 0x00
 CONTROL "Save...", IDC_BTNSAVEVOCAB, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 86, 486, 70, 24, 0x00
 CONTROL "Reset Auto", IDC_BTNRESETAUTO, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 162, 486, 90, 24, 0x00
 CONTROL "OK", IDC_BTNOKVOCAB, "button", WS_CHILD | BS_DEFPUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 388, 486, 32, 24, 0x00
 CONTROL "Cancel", IDC_BTNCANCELVOCAB, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 424, 486, 42, 24, 0x00
}
