*.o
gbagi.bin
test.elf
gbagi.gba
object.bin

gbarom/aginject.exe

romgui/resource.h
romgui/*.aps
romgui/*.opensdf
romgui/*.sdf
romgui/*.suo
romgui/romgui.vcxproj.user
romgui/ipch
romgui/Debug
romgui/Release
