*.o
gbagi.elf
gbagi.bin
*.gba
object.bin


gbarom/aginject.exe

romgui/resource.h
romgui/*.aps
romgui/*.opensdf
romgui/*.sdf
romgui/*.suo
romgui/romgui.vcxproj.user
romgui/ipch
romgui/Debug
romgui/Release


MSVC/*.opensdf
MSVC/*.sdf
MSVC/*.suo
MSVC/gbagi.vcxproj.user
MSVC/ipch
MSVC/Debug
MSVC/Release
flog.txt
